@charset "utf-8";

body
{
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	background-attachment: fixed;
	background-size: cover;
}

table {
border-collapse: collapse;
}
th { 
padding: 5px;
font-size: 15pt;
}
td { 
padding: 5px;
font-size: 15pt;
}

#content{
	border-top: 20px;
	border-radius: 5px;
	padding-top: 5px;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 15px;
	width: 850px;
	margin:0 auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: white;
	margin-top: 25px;
}

#content2{
    width: 850px;
    margin:0 auto; /*centrat*/
    margin-top: 25px;
}

#add{
	width: 650px;
	margin:0 auto;
}

#mynavbar {
    overflow: hidden;
    background-color: #333;
    font-family: Calibri;
    border-radius: 8px;
    text-decoration: none;
    height: 75px;
    text-align: center;
}

#mynavbar a {
    float: left;
    font-size: 22px;
    color: white;
    padding: 10px 55px ;
    text-align: center;
    text-decoration: none;
}

.dropdown {
    text-align: center;
    vertical-align: middle;
    font-size: 18px;    
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    text-decoration: none;
    float: left;
    overflow: hidden;
    margin: 10px 20px ; /*centrat*/
    padding: 0px 0px ;
    text-align: center;
}

#mynavbar a:hover, .dropdown:hover {
    background-color: #FD7349;  /*Orange*/
    border-radius: 8px;
    text-decoration: none;
}

.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table{
    text-align: center;
    vertical-align: middle; 
}